.add-money {
  > div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    label {
      display: inline-block;
      width: 100px !important;
    }
    input {
      margin: 0;
    }
  }
}
