.chat {
  height: 100vh;
  display: flex;

  > * {
    height: 100%;
    overflow: hidden;
  }

  &__sidebar {
    background-color: #242526;
    width: 400px;
    border-right: 1px solid #303235;
  }

  &__message {
    flex-grow: 1;
    background-color: #242526;
  }
}
