.wallet {
  min-height: 700px;
  padding: 50px 300px;
  h3 {
    font-size: 18px;
    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }
  .money {
    background-color: #79be82;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    .item {
      margin: 10px 0;

      strong {
        display: inline-block;
        width: 250px;
      }
      span {
        font-weight: 500;
      }
    }
  }

  .transaction {
    table {
      width: 100%;
      td {
        padding: 5px;
        text-align: center;
      }
    }
  }
}
